// Fonts
@font-face {
  font-family: "Geist";
  src: url("../font/Geist-Regular.otf");
  src: url("../font/Geist-Regular.otf") format("opentype"),
    url("../font/Geist-Regular.woff2") format("woff2"),
    url("../font/Geist-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Geist";
  src: url("../font/Geist-Medium.otf");
  src: url("../font/Geist-Medium.otf") format("opentype"),
    url("../font/t/Geist-Medium.woff2") format("woff2"),
    url("../font/Geist-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Geist";
  src: url("../font/Geist-SemiBold.otf");
  src: url("../font/Geist-SemiBold.otf") format("opentype"),
    url("../font/t/Geist-SemiBold.woff2") format("woff2"),
    url("../font/Geist-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Geist";
  src: url("../font/Geist-Black.otf");
  src: url("../font/Geist-Black.otf") format("opentype"),
    url("../font/t/Geist-Black.woff2") format("woff2"),
    url("../font/Geist-Black.ttf") format("truetype");
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geist", sans-serif;
}
.container {
  max-width: 1196px;
  padding: 0 43px;
  margin: 0 auto;
}
body {
  background-color: #0d1816;
  color: #fff;
}

// Hero
.section {
  // .section__hero

  &__hero {
  }
}
.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  // .hero__title

  &__title {
    font-size: 300px;
    color: white;
  }

  // .hero__img

  &__img {
    aspect-ratio: 8/5;
    transform: translateY(-140px);
    z-index: -10;
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}
.logo {
}
